<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-project-sell-heading" jhiTranslate="gcApp.projectSell.home.createOrEditLabel">Create or edit a Project Sell</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!projectSell.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="projectSell.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.projectId" for="field_projectId">Project Id</label>
                    <input type="number" class="form-control" name="projectId" id="field_projectId"
                        [(ngModel)]="projectSell.projectId" required/>
                    <div [hidden]="!(editForm.controls.projectId?.dirty && editForm.controls.projectId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.projectId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.projectId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.copyrightSellType" for="field_copyrightSellType">Copyright Sell Type</label>
                    <input type="number" class="form-control" name="copyrightSellType" id="field_copyrightSellType"
                        [(ngModel)]="projectSell.copyrightSellType" required/>
                    <div [hidden]="!(editForm.controls.copyrightSellType?.dirty && editForm.controls.copyrightSellType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.copyrightSellType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.copyrightSellType?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.sellingPrice" for="field_sellingPrice">Selling Price</label>
                    <input type="number" class="form-control" name="sellingPrice" id="field_sellingPrice"
                        [(ngModel)]="projectSell.sellingPrice" required/>
                    <div [hidden]="!(editForm.controls.sellingPrice?.dirty && editForm.controls.sellingPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sellingPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.sellingPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.txHash" for="field_txHash">Tx Hash</label>
                    <input type="text" class="form-control" name="txHash" id="field_txHash"
                        [(ngModel)]="projectSell.txHash" required minlength="1" maxlength="255"/>
                    <div [hidden]="!(editForm.controls.txHash?.dirty && editForm.controls.txHash?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.txHash?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.txHash?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.txHash?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="projectSell.description" required minlength="1" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.ownerUserId" for="field_ownerUserId">Owner User Id</label>
                    <input type="number" class="form-control" name="ownerUserId" id="field_ownerUserId"
                        [(ngModel)]="projectSell.ownerUserId" required/>
                    <div [hidden]="!(editForm.controls.ownerUserId?.dirty && editForm.controls.ownerUserId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ownerUserId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.ownerUserId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.buyerId" for="field_buyerId">Buyer Id</label>
                    <input type="number" class="form-control" name="buyerId" id="field_buyerId"
                        [(ngModel)]="projectSell.buyerId" required/>
                    <div [hidden]="!(editForm.controls.buyerId?.dirty && editForm.controls.buyerId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.buyerId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.buyerId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.isSell" for="field_isSell">Is Sell</label>
                    <input type="number" class="form-control" name="isSell" id="field_isSell"
                        [(ngModel)]="projectSell.isSell" required/>
                    <div [hidden]="!(editForm.controls.isSell?.dirty && editForm.controls.isSell?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isSell?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.isSell?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.createTime" for="field_createTime">Create Time</label>
                    <input type="number" class="form-control" name="createTime" id="field_createTime"
                        [(ngModel)]="projectSell.createTime" required/>
                    <div [hidden]="!(editForm.controls.createTime?.dirty && editForm.controls.createTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createTime?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gcApp.projectSell.updateTime" for="field_updateTime">Update Time</label>
                    <input type="number" class="form-control" name="updateTime" id="field_updateTime"
                        [(ngModel)]="projectSell.updateTime" required/>
                    <div [hidden]="!(editForm.controls.updateTime?.dirty && editForm.controls.updateTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updateTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.updateTime?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
