<div>
    <h2 id="page-heading">
        <span jhiTranslate="gcApp.project.home.title">Projects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <span class="fas fa-plus"></span>
            <span  jhiTranslate="gcApp.project.home.createLabel">
            Create new Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="gcApp.project.name">Name</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="gcApp.project.type">Type</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="gcApp.project.description">Description</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="copyrightNo"><span jhiTranslate="gcApp.project.copyrightNo">Copyright No</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="ratio"><span jhiTranslate="gcApp.project.ratio">Ratio</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="gross"><span jhiTranslate="gcApp.project.gross">Gross</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="onceBuyLimit"><span jhiTranslate="gcApp.project.onceBuyLimit">Once Buy Limit</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="balance"><span jhiTranslate="gcApp.project.balance">Balance</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="isEnd"><span jhiTranslate="gcApp.project.isEnd">Is End</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="contractAddress"><span jhiTranslate="gcApp.project.contractAddress">Contract Address</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="gcApp.project.userId">User Id</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="gcApp.project.createTime">Create Time</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="gcApp.project.updateTime">Update Time</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td><a [routerLink]="['/project', project.id, 'view' ]">{{project.id}}</a></td>
                <td>{{project.name}}</td>
                <td>{{project.type}}</td>
                <td>{{project.description}}</td>
                <td>{{project.copyrightNo}}</td>
                <td>{{project.ratio}}</td>
                <td>{{project.gross}}</td>
                <td>{{project.onceBuyLimit}}</td>
                <td>{{project.balance}}</td>
                <td>{{project.isEnd}}</td>
                <td>{{project.contractAddress}}</td>
                <td>{{project.userId}}</td>
                <td>{{project.createTime}}</td>
                <td>{{project.updateTime}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projects && projects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
