<div>
    <h2 id="page-heading">
        <span jhiTranslate="gcApp.userAccount.home.title">User Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-account" [routerLink]="['/user-account/new']">
            <span class="fas fa-plus"></span>
            <span  jhiTranslate="gcApp.userAccount.home.createLabel">
            Create new User Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="gcApp.userAccount.userId">User Id</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="asset"><span jhiTranslate="gcApp.userAccount.asset">Asset</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="pubKey"><span jhiTranslate="gcApp.userAccount.pubKey">Pub Key</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="privateKey"><span jhiTranslate="gcApp.userAccount.privateKey">Private Key</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="blockchainAddress"><span jhiTranslate="gcApp.userAccount.blockchainAddress">Blockchain Address</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="gcApp.userAccount.createTime">Create Time</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="gcApp.userAccount.updateTime">Update Time</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userAccount of userAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/user-account', userAccount.id, 'view' ]">{{userAccount.id}}</a></td>
                <td>{{userAccount.userId}}</td>
                <td>{{userAccount.asset}}</td>
                <td>{{userAccount.pubKey}}</td>
                <td>{{userAccount.privateKey}}</td>
                <td>{{userAccount.blockchainAddress}}</td>
                <td>{{userAccount.createTime}}</td>
                <td>{{userAccount.updateTime}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-account', userAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-account', userAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-account/'+ userAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userAccounts && userAccounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
